*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


footer {
    div{
        background-color: #6ea0dd;
    }
    ul {
        text-align: center;
        list-style: none;

        li {
            color: white;
            font-size: 20px;
            font-family: 'Orbitron', sans-serif;
        }
    }
}